<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>

        <mat-list-item>
          <mat-icon
              mat-list-icon
              class="chevron-button sidenav-button"
              [ngClass]="{'rotated': isExpanded}"
              (click)="toggleExpanded()">double_arrow
          </mat-icon>
        </mat-list-item>

        <mat-list-item [routerLink]="'charts'">
          <mat-icon mat-list-icon>bar_chart</mat-icon>
          <span *ngIf="isExpanded">Charts</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'user/stock'">
          <mat-icon mat-list-icon>bar_chart</mat-icon>
          <span *ngIf="isExpanded">Stock</span>
        </mat-list-item>



        <mat-list-item [routerLink]="'user/watchlist'">
          <mat-icon mat-list-icon>query_stats</mat-icon>
          <span *ngIf="isExpanded">Watchlist</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'user/trade'">
          <mat-icon mat-list-icon>today</mat-icon>
          <span *ngIf="isExpanded">Trade</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'user/report'">
          <mat-icon mat-list-icon>request_page</mat-icon>
          <span *ngIf="isExpanded">Report</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'logout'">
          <mat-icon mat-list-icon>logout</mat-icon>
          <span *ngIf="isExpanded">Logout</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'admin/management/users'">
          <mat-icon mat-list-icon>manage_accounts</mat-icon>
          <span *ngIf="isExpanded">Manage User</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'admin/management/stocks'">
          <mat-icon mat-list-icon>polymer</mat-icon>
          <span *ngIf="isExpanded">Manage Stock</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'admin/management/classifies'">
          <mat-icon mat-list-icon>dashboard_customize</mat-icon>
          <span *ngIf="isExpanded">Manage Classify</span>
        </mat-list-item>

      </mat-nav-list>
  </mat-sidenav>

  <div class="content">
    <mat-toolbar>
        <div class="move-left">
          <h4>M y S t o c k</h4>
        </div>
        <div class="nav-item nav-link move-right mr-3" *ngIf="isLogin" (click)="userProfile()">
          Welcome, {{user?.username}}
          <i class="fa fa-user"></i>
        </div>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>


