<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
        <div class="modal-header bg-pink">
          <h4 class="modal-title">Classify Detail</h4>
          <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row mt-3 justify-content-md-center">
            <div class="col-md-12">
              <div class="modal-body bg-grey font-weight-500">
                <form [formGroup]="classifyForm">
                    <div class="form-group col-12 mt-3">
                      <label for="id">Id</label>
                      <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly>
                    </div>
                    <div class="form-group col-12 mt-3">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name" formControlName="name">
                    </div>
                </form>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" (click)="execute()">Update</button>
          <button type="button" class="btn btn-outline-danger" (click)="remove()"><i class="fas fa-trash"></i></button>
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
        </div>
    </div>
  </div>
</div>
