h4{
  font: 2em sans-serif;
  font-weight: bold;
  color: rgb(252, 244, 244);
}
h5{
  font: 2em sans-serif;
  font-weight: bold;
  color: rgb(206, 33, 33);
}
.bg-grey{
  background-color: rgb(192, 192, 199);
}
.bg-pink{
  background-color: rgb(250, 166, 180);
}
.font-weight-500{
  font-weight: 500;
}
