p {
  font-family: Lato;
}

#chart {
  max-width: auto;
  margin: 30px auto;
}

.modal-header{
  background-color: rgb(250, 166, 180);
  font-weight: 500;
}

h4{
  font: 2em sans-serif;
  font-weight: bold;
  color: rgb(245, 239, 237);
}
