<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-8 mt-3">
        <h1>Trade Records</h1>
        <h2>Filter by: <input type="date" [(ngModel)]="selectedDate" name="selectedDate" (change)="dateChanged()" /></h2>
      <div *ngIf="isLoading">
        <div class="row row-striped" *ngFor="let trade of trades" >
          <div class="col-md-2 text-right">
            <h1 class="display-4"><span class="badge bg-dark rounded-pill">{{ trade.getTradeDateAsDate() | date:'dd' }}</span></h1>
            <h2>{{ trade.getTradeDateAsDate() | date:'MMM' }}</h2>
          </div>
          <div class="col-md-10">
            <h3 class="text-uppercase"><strong>{{ trade.tstock.name }} - {{ trade.tstock.symbol }}</strong></h3>
            <ul class="list-inline">
              <li class="list-inline-item badge bg-info text-dark">Current Pirce: {{ trade.tstock.price | currency }}</li>
              <li class="list-inline-item badge bg-danger">Change: {{ trade.tstock.changePrice | currency }}</li>
              <li class="list-inline-item badge bg-secondary">Pre-Close: {{ trade.tstock.previousClosed | currency }}</li>
            </ul>
            <div class="row">
              <div class="col-md-7">
                <p class="mb-0">Buy At: {{ trade.price | currency }}</p>
                <p class="mb-0">Change: {{ trade.tstock.price - trade.price | currency }}</p>
                <p class="mb-0">Volume: {{ trade.amount | number }}</p>
                <p class="mb-0 badge bg-danger">Profit: {{ (trade.tstock.price - trade.price) * trade.amount | currency}}</p>
              </div>
              <div class="col-md-3">
                <a class="btn btn-outline-danger mx-1 " (click)="execute(trade.tstock)">Trade</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
      </div>
    </div>
  </div>
</div>
