<div class="modal-header bg-pink">
  <h4 class="modal-title">User Detail</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body bg-grey font-weight-500">
    <form [formGroup]="userForm">
        <div class="form-group col-6 mb-3">
          <label for="username">Name</label>
          <input type="text" class="form-control" id="username" name="username" formControlName="username">
        </div>

        <div class="form-group col-6 mb-3">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" formControlName="email">
        </div>

        <div class="form-group col-6 mt-3">
          <label for="userRole">Role</label>
          <select name="userRole"  id="userRole" class="form-control" formControlName="userRole">
            <option [ngValue]="user.userRole" disabled>{{ user.userRole }}</option>
            <option *ngFor="let key of keysOfRole" [ngValue]="key">{{ key }}</option>
          </select>
        </div>

        <div class="form-group col-6 mt-3">
          <label for="profileImage">Image</label>
          <input
              type="file" accept="image/*" name="profileImage"
              (change)="onProfileImageChange($any($event).target.files[0].name, $any($event).target.files[0])" class="form-control">
        </div>
        
        <fieldset class="mt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="enabled" id="enabled">
              <label class="form-check-label" for="enabled">
                Enabled
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="accountNonLocked" id="accountNonLocked">
              <label class="form-check-label" for="accountNonLocked">
                UnLocked
              </label>
            </div>
        </fieldset>

    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="execute()">Execute</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
</div>
