<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h1>Manage Stock</h1>
      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a class="btn btn-outline-success" (click)="add()">Add</a>
        <form class="form-control">
          <input name="searchTerm" #searchInput="ngModel" class="form-control" ngModel
          (ngModelChange)="searchStocks(searchInput.value)" type="search" placeholder="Search...">
        </form>
      </div>
    </div>
    <div class="col-md-8 mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Classify</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stocks">
              <td (click)="view(stock)">{{ stock.name }}</td>
              <td (click)="view(stock)">{{ stock.symbol }}</td>
              <td (click)="view(stock)">{{ stock.classify.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

