  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <h1>Stock</h1>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <form class="form-control">
                <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
                (ngModelChange)="searchStocks(searchInput.value)" type="search" placeholder="Search...">
              </form>
              <button type="button" (click)="refresh()" class="btn btn-outline-info">
                <i *ngIf="isRefreshing" class="fas fa-sync fa-spin"></i><i *ngIf="!isRefreshing" class="fas fa-sync"></i>
              </button>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Previous Closed</th>
              <th>Current Price</th>
              <th>Change Price</th>
              <th>Change In Percent</th>
              <th>Volume</th>
              <th>Last UpDate Time</th>
              <th>Classify</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stock of stocks">
              <td (click)="view(stock)">{{ stock.symbol }}</td>
              <td (click)="view(stock)">{{ stock.name }}</td>
              <td (click)="view(stock)">{{ stock.previousClosed | currency}}</td>
              <td (click)="view(stock)">{{ stock.price | currency }}</td>
              <td (click)="view(stock)">{{ stock.changePrice | currency }}</td>
              <td (click)="view(stock)">{{ stock.changeInPercent / 100 | percent }}</td>
              <td (click)="view(stock)">{{ stock.volume | number }}</td>
              <td (click)="view(stock)">{{ stock.lastUpDateTime | date:'HH:mm - MMM d'}}</td>
              <td (click)="view(stock)">{{ stock.classify.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
