  <div class="container">
    <div class="row no-gutters mt-3">
        <div class="col-md-4 col-sm-4">
          <div class="row mt-3">
            <div class="col-sm-auto">
              <h1>Stock</h1>

            </div>
            <div class="col-sm-9">
              <button type="button" (click)="refresh()" class="btn btn-outline-info">
                <i *ngIf="isRefreshing" class="fas fa-sync fa-spin"></i>Refresh Price <i *ngIf="!isRefreshing" class="fas fa-sync"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-4">
        </div>
        <div class="col-md-2 col-sm-4">
          <form class="form-control">
            <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
            (ngModelChange)="searchStocks(searchInput.value)" type="search" placeholder="Search stocks...">
          </form>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Previous Closed</th>
              <th>Current Price</th>
              <th>Change Price</th>
              <th>Change In Percent</th>
              <th>Volume</th>
              <th>Last UpDate Time</th>
              <th>Classify</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stock of stocks">
              <td (click)="trade(stock.symbol)">{{ stock.symbol }}</td>
              <td (click)="trade(stock.symbol)">{{ stock.name }}</td>
              <td (click)="trade(stock.symbol)">{{ stock.previousClosed | currency}}</td>
              <td (click)="trade(stock.symbol)">{{ stock.price | currency }}</td>
              <td (click)="trade(stock.symbol)">{{ stock.changePrice | currency }}</td>
              <td (click)="trade(stock.symbol)">{{ stock.changeInPercent / 100 | percent }}</td>
              <td (click)="trade(stock.symbol)">{{ stock.volume | number }}</td>
              <td (click)="trade(stock.symbol)">{{ stock.lastUpDateTime | date:'HH:mm - MMM d'}}</td>
              <td (click)="trade(stock.symbol)">{{ stock.classify.name }}</td>
              <td><button type="button" class="btn btn-outline-danger" (click)="addToWatchlist(stock)">Watch</button></td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>
