<div class="container">
  <div class="row"></div>
    <h1 class="mt-5">Stock</h1>
    <div class="col-md-12">
      <div>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Previous Closed</th>
            <th>Current Price</th>
            <th>Change Price</th>
            <th>Change In Percent</th>
            <th>Volume</th>
            <th>Last UpDate Time</th>
            <th>Classify</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stocks">
            <td (click)="add(stock.symbol)">{{ stock.symbol }}</td>
            <td (click)="add(stock.symbol)">{{ stock.name }}</td>
            <td (click)="add(stock.symbol)">{{ stock.previousClosed | currency}}</td>
            <td (click)="add(stock.symbol)">{{ stock.price | currency }}</td>
            <td (click)="add(stock.symbol)">{{ stock.changePrice | currency }}</td>
            <td (click)="add(stock.symbol)">{{ stock.changeInPercent / 100 | percent }}</td>
            <td (click)="add(stock.symbol)">{{ stock.volume | number }}</td>
            <td (click)="add(stock.symbol)">{{ stock.lastUpDateTime | date:'HH:mm - MMM d'}}</td>
            <td (click)="add(stock.symbol)">{{ stock.classify.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
