@import '~bootstrap/dist/css/bootstrap.css';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import "~angular-notifier/styles";

h1 {
  font-size: xx-large;
}

td {
  cursor: pointer;
}
.move-right {
    position: absolute;
    right: 0;
  }

  .move-left {
    position: absolute;
    left: 1;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.bg-grey{
  background-color: rgb(192, 192, 199);
}
.bg-pink{
  background-color: rgb(250, 166, 180);
}
.font-weight-500{
  font-weight: 500;
}
.font-detail{
  font-weight: 500;
  color: rgb(24, 23, 23);
}

.bg-blue{
  background-color: rgb(87, 199, 243);
}
