mat-sidenav-container {
  height: 100%;
  background-color: darkslateblue;

  mat-sidenav {
    background-color: palevioletred;

    mat-nav-list {

      .chevron-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
        right: 0rem;
        float: right;
        position: absolute;
      }

      .chevron-button.rotated {
        transform: rotate(180deg);
      }
    }
  }
}

mat-toolbar{
  background-color: rgb(60, 4, 117);
  color: whitesmoke;
}


