<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="modal-header bg-pink">
          <h4 class="modal-title">User Detail</h4>
          <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row mt-3">
            <div class="col-md-auto">
              <div class="d-flex justify-content-center rounded bg-grey">
                <img class="rounded" height="135" width="135" src="{{ selectedUser?.profileImageUrl }}" alt="">
              </div>
              <div class="col-md-12 mt-3">
                  <h3>Recently Trade:</h3>
                  <div *ngFor="let trade of recentTrades">
                      - {{ trade.tstock.name }}
                  </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="modal-body bg-grey font-weight-500">
                <form [formGroup]="userForm">
                    <div class="form-group col-12 mt-3">
                      <label for="userNumber">Number</label>
                      <input type="text" class="form-control" id="userNumber" name="userNumber" formControlName="userNumber" readonly>
                    </div>

                    <div class="form-group col-12 mt-3">
                      <label for="username">Name</label>
                      <input type="text" class="form-control" id="username" name="username" formControlName="username">
                    </div>

                    <div class="form-group col-12 mt-3">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email" name="email" formControlName="email">
                    </div>

                    <div class="form-group col-12 mt-3">
                      <label for="joinDate">Join Date</label>
                      <input type="text" class="form-control" id="joinDate" name="joinDate" formControlName="joinDate" readonly>
                    </div>

                    <div class="form-group col-12 mt-3">
                      <label for="lastLoginDateDisplay">LastLoginDate</label>
                      <input type="text" class="form-control" id="lastLoginDateDisplay" name="lastLoginDateDisplay" formControlName="lastLoginDateDisplay" readonly>
                    </div>

                    <div class="form-group col-12 mt-3">
                      <label for="userRole">Role</label>
                      <select name="userRole"  id="userRole" class="form-control" formControlName="userRole">
                        <option [ngValue]="selectedUser.userRole" disabled>{{ selectedUser.userRole }}</option>
                        <option *ngFor="let key of keysOfRole" [ngValue]="key">ROLE_{{ key }}</option>
                      </select>
                    </div>
                    <fieldset class="mt-3">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" formControlName="enabled" id="enabled">
                          <label class="form-check-label" for="enabled">
                            Enabled
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" formControlName="accountNonLocked" id="accountNonLocked">
                          <label class="form-check-label" for="accountNonLocked">
                            UnLocked
                          </label>
                        </div>
                    </fieldset>
                </form>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" (click)="resetPassword()">Reset password</button>
          <button type="button" class="btn btn-outline-primary" (click)="execute()" [disabled]="userForm.invalid">Update</button>
          <button type="button" class="btn btn-outline-danger" (click)="remove()"><i class="fas fa-trash"></i></button>
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
        </div>
    </div>
  </div>
</div>
