<div class="modal-header bg-pink">
  <h4 class="modal-title">User Detail</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body bg-grey font-weight-500">
  <form [formGroup]="userForm">
      <div class="form-group col-6">
        <label for="userNumber">Number</label>
        <input type="text" class="form-control" id="userNumber" name="userNumber" formControlName="userNumber" readonly>
      </div>

      <div class="form-group col-6">
        <label for="username">Name</label>
        <input type="text" class="form-control" id="username" name="username" formControlName="username">
      </div>

      <div class="form-group col-6">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" formControlName="email">
      </div>

      <div class="form-group col-6">
        <label for="joinDate">Join Date</label>
        <input type="text" class="form-control" id="joinDate" name="joinDate" formControlName="joinDate" readonly>
      </div>

      <div class="form-group col-6">
        <label for="lastLoginDateDisplay">LastLoginDate</label>
        <input type="text" class="form-control" id="lastLoginDateDisplay" name="lastLoginDateDisplay" formControlName="lastLoginDateDisplay" readonly>
      </div>

      <div class="form-group col-6">
        <label for="userRole">Role</label>
        <select name="userRole"  id="userRole" class="form-control" formControlName="userRole">
          <option [ngValue]="selectedUser.userRole" disabled>{{ selectedUser.userRole }}</option>
          <option *ngFor="let key of keysOfRole" [ngValue]="key">ROLE_{{ key }}</option>
        </select>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="isEnabled" id="isEnabled">
        <label class="form-check-label" for="isEnabled">
          Enabled
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="!isAccountNonLocked" id="isAccountNonLocked">
        <label class="form-check-label" for="isAccountNonLocked">
          Locked
        </label>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-warn" (click)="resetPassword()">Reset password</button>
  <button type="button" class="btn btn-outline-primary" (click)="execute()" [disabled]="userForm.invalid">Update</button>
  <button type="button" class="btn btn-outline-danger" (click)="remove()">Remove</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
</div>
